.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  padding-top: 1.5em;
  background-color: #4B7F3B;
  color: white;
}

.App-intro {
  font-size: large;
}

.tableContainer, .tabs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
}

th {
  text-align: center;
}

.tableCell {
  padding: 10px 20px 10px 20px;
}

td.tableCell, th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

th:last-child, td:last-child {
  border-right: none;
}

.legend-content {
  display: inline-block;
  padding-top: 45px;
  text-align: left;
  float: left;
}

.legend-content h5 {
  font-weight: 600;
  font-size: 1em;
  margin: 12px 0px 12px 0px;
}

img.legend-content {
  z-index: -1;
}

.tableContainer {
  margin-top: 40px;
}

.table-type-tab {
  width: 33.33%;
  border-bottom: 2px solid #CACACA;
  color: #CACACA;
  cursor: pointer;
}

.table-type-tab p {
  font-size: 1.5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.table-type-tab:hover {
  color: #8E8E8E;
}

.selected:hover {
  color: black;
}

.selected {
  color: black;
  border: 2px solid #CACACA;
  border-top: 3px solid #A6D59B;
  border-bottom: none;
}

.guideTable {
  width: 100%;
}

.left-header, .right-header {
  display: inline-block;
  margin-right: 40px;
}

h1.right-header {
  font-size: 4em;
  color: #D1E7C0;
}

h3.left-header {
  font-size: 1.5em;
}

.guide-description h3 {
  padding-top: 20px;
  font-size: 1.5em;
}

.guide-description {
  text-align: left;
}

.left-column, .right-column {
  flex: 1;
  text-align: left;
}

.two-columns {
  margin: 30px 0px 30px 0px
}

.left-column {
  margin-right: 40px;
}

.legend-color-1 {
  color: #D6E5A0;
}

.legend-color-2 {
  color: #A6D59B;
}

.legend-color-3 {
  color: #54AC47;
}

.legend-color-4 {
  color: #25A083;
}

.legend-color-5 {
  color: #4B7F3B;
}

.footer p {
  text-align: left;
  margin-bottom: 0px;
}

.action-button {
  height: 90px;
  color: white;
  border: none;
  font-size: 1.5em;
  width: 80%;
}

.button-1 {
  background-color: #4B7F3B;
}

.button-2 {
  background-color: #25A083;
}

.button-3 {
  background-color: #A6D59B;
}

.action-buttons-container {
  margin: 10px 0 20px 0;
}

h5 {
  font-size: 2rem;
}

.created-by {
  text-align: left;
}

.research-partners p {
  font-size: .85em;
}

.research-partners {
  margin-top: 30px;
}

.restaurant-placeholder {
  height: 500px;
}