.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  padding-top: 1.5em;
  background-color: #4B7F3B;
  color: white;
}

.App-intro {
  font-size: large;
}

.tableContainer, .tabs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
}

th {
  text-align: center;
}

.tableCell {
  padding: 10px 20px 10px 20px;
}

.tableCell p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

td.tableCell, th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

th:last-child, td:last-child {
  border-right: none;
}

.reactable-th-comparedtoregion, .reactable-th-improvement {
  width: 120px;
}

.percentage-container {
  position: relative;
}

.percentage-data {
  color: #54AC47;
  font-weight: 600;
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  right: 0;
}

.star, .percentage-data {
  display: inline-block;
}

.star {
  width: 50px;
  height: 52.44px;
}


.legend-content {
  display: inline-block;
  padding-top: 45px;
  text-align: left;
  float: left;
}

.legend-content h5 {
  font-weight: 600;
  font-size: 1em;
  margin: 12px 0px 12px 0px;
}

img.legend-content {
  z-index: -1;
}

.tableContainer {
  margin-top: 40px;
}

.table-type-tab {
  width: 33.33%;
  border-bottom: 2px solid #CACACA;
  color: #CACACA;
  cursor: pointer;
}

.table-type-tab p {
  font-size: 1.5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.table-type-tab:hover {
  color: #8E8E8E;
}

.selected:hover {
  color: black;
}

.selected {
  color: black;
  border: 2px solid #CACACA;
  border-top: 3px solid #A6D59B;
  border-bottom: none;
}

.guideTable {
  width: 100%;
}

.left-header, .right-header {
  display: inline-block;
  margin-right: 40px;
}

h1.right-header, .light-green {
  color: #D1E7C0;
}

.guide-description h3 {
  padding-top: 20px;
  font-size: 1.5em;
}

.guide-description {
  text-align: left;
}

.left-column, .right-column {
  flex: 1;
  text-align: left;
}

.two-columns {
  margin: 30px 0px 30px 0px
}

.left-column {
  margin-right: 40px;
}

.legend-color-1 {
  color: #D6E5A0;
}

.legend-color-2 {
  color: #A6D59B;
}

.legend-color-3 {
  color: #54AC47;
}

.legend-color-4 {
  color: #25A083;
}

.legend-color-5 {
  color: #4B7F3B;
}

.footer p {
  text-align: left;
  margin-bottom: 0px;
}

.footer {
  padding-bottom: 20px;
}

.action-button {
  height: 90px;
  color: white;
  border: none;
  font-size: 1.5em;
  width: 80%;
}


.button-1 {
  background-color: #4B7F3B;
}

.button-2 {
  background-color: #25A083;
}

.button-3 {
  background-color: #A6D59B;
}

.action-buttons-container {
  margin: 10px 0 20px 0;
}

h5 {
  font-size: 2rem;
}

.created-by {
  text-align: left;
}

.research-partners p {
  font-size: .85em;
}

.research-partners {
  margin-top: 30px;
}

.placeholder {
  height: 500px;
}

.menu-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 32px 24px 32px 24px;
}

.menu-icon {
  cursor: pointer;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #D1E7C0;
  margin: 6px 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background-color: #D1E7C0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  text-align: left;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-open {
  width: 200px;
}

.menu-close {
  width: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}

.shifted-container {
  margin-left: 200px;
  transition: 0.5s;
}

.not-shifted {
  transition: 0.5s;
}

.mobile-only {
  display: none;
}